In [1]:
import pandas as pd

In [2]:
data_motor = pd.read_csv('/Users/larsheijnen/Thesis/data/motor/MDS-UPDRS_Part_III_21Mar2025.csv')

columns_to_keep = [
    'REC_ID',        # Record Identifier
    'PATNO',         # Participant Identifier (Relevant patient info)
    'EVENT_ID',      # Visit Identifier
    'PAG_NAME',      # Page Name (Metadata)
    'INFODT',        # Assessment Date (Often the primary date)
    'PDTRTMNT',      # On treatment status (Context)
    'PDSTATE',       # ON/OFF state (Context)
    'HRPOSTMED',     # Hours post medication (Context)
    'HRDBSON',       # Hours DBS On (Context)
    'HRDBSOFF',      # Hours DBS Off (Context)
    'PDMEDYN',       # On PD Medication? (Context)
    'DBSYN',         # Has DBS? (Context)
    'ONOFFORDER',    # Order of ON/OFF exam (Context)
    'OFFEXAM',       # OFF Exam Performed? (Context)
    'OFFNORSN',      # Reason OFF Exam Not Performed (Context)
    'DBSOFFTM',      # Time DBS Turned Off (Context)
    'ONEXAM',        # ON Exam Performed? (Context)
    'ONNORSN',       # Reason ON Exam Not Performed (Context)
    'HIFUYN',        # Had HIFU? (Context)
    'DBSONTM',       # Time DBS Turned On (Context)
    'PDMEDDT',       # Date of Last PD Med Dose (Context)
    'PDMEDTM',       # Time of Last PD Med Dose (Context)
    'EXAMDT',        # Examination Date (Specifically requested)
    'EXAMTM',        # Examination Time (Specifically requested)
    'NP3TOT',        # MDS-UPDRS Part III Total Score (Specifically requested to keep)
    'ORIG_ENTRY',    # Original Entry Date (Metadata)
    'LAST_UPDATE'    # Last Update Date (Metadata)
]

In [3]:
score_patient_data = data_motor[columns_to_keep].copy()
score_patient_data_copy = score_patient_data.copy()

In [10]:
score_patient_data.to_csv('/Users/larsheijnen/Thesis/data/MDS-UPDRS_Patient_Data_only.csv', index=False)

score_patient_data['INFODT'] = pd.to_datetime(score_patient_data['INFODT'], format='%m/%Y', errors='coerce')
score_patient_data['EXAMDT'] = pd.to_datetime(score_patient_data['EXAMDT'], format='%m/%Y', errors='coerce')
score_patient_data['ORIG_ENTRY'] = pd.to_datetime(score_patient_data['ORIG_ENTRY'], format='%m/%Y', errors='coerce')
score_patient_data.to_csv('/Users/larsheijnen/Thesis/data/MDS-UPDRS_Patient_Data_only_date_formatted.csv', index=False)
score_patient_data.head()

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,PDTRTMNT,PDSTATE,HRPOSTMED,HRDBSON,HRDBSOFF,...,ONNORSN,HIFUYN,DBSONTM,PDMEDDT,PDMEDTM,EXAMDT,EXAMTM,NP3TOT,ORIG_ENTRY,LAST_UPDATE
0,272451901,3000,BL,NUPDRS3,2011-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2011-02-01,13:17:00,4.0,2011-02-01,2020-06-25 16:02:19.0
1,338703101,3000,V04,NUPDRS3,2012-03-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-03-01,13:47:00,1.0,2012-03-01,2020-06-25 16:02:22.0
2,385009801,3000,V06,NUPDRS3,2013-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2013-02-01,12:22:00,4.0,2013-02-01,2020-06-25 16:02:22.0
3,437131401,3000,V08,NUPDRS3,2014-03-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-03-01,13:22:00,2.0,2014-05-01,2020-06-25 16:02:22.0
4,512469901,3000,V10,NUPDRS3,2015-03-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-03-01,11:43:00,19.0,2015-03-01,2020-06-25 16:02:23.0

In [11]:
print(score_patient_data.dtypes) # Should now show datetime64[ns] for RUNDATE

REC_ID                 object
PATNO                   int64
EVENT_ID               object
PAG_NAME               object
INFODT         datetime64[ns]
PDTRTMNT              float64
PDSTATE                object
HRPOSTMED             float64
HRDBSON               float64
HRDBSOFF              float64
PDMEDYN               float64
DBSYN                 float64
ONOFFORDER            float64
OFFEXAM               float64
OFFNORSN              float64
DBSOFFTM               object
ONEXAM                float64
ONNORSN               float64
HIFUYN                float64
DBSONTM                object
PDMEDDT                object
PDMEDTM                object
EXAMDT         datetime64[ns]
EXAMTM                 object
NP3TOT                float64
ORIG_ENTRY     datetime64[ns]
LAST_UPDATE            object
dtype: object