In [9]:
import pandas as pd
from IPython.display import display

In [2]:
blood_data = pd.read_csv('/Users/larsheijnen/Thesis/data/blood/Current_Biospecimen_Analysis_Results_29Mar2025.csv',low_memory=False)
blood_data.head()

,PATNO,SEX,COHORT,CLINICAL_EVENT,TYPE,TESTNAME,TESTVALUE,UNITS,RUNDATE,PROJECTID,PI_NAME,PI_INSTITUTION,update_stamp
0,3400,Female,PD,SC,DNA,ApoE Genotype,e3/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
1,3401,Female,Control,SC,DNA,ApoE Genotype,e3/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
2,3402,Male,SWEDD,SC,DNA,ApoE Genotype,e3/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
3,3403,Male,PD,SC,DNA,ApoE Genotype,e3/e2,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
4,3404,Female,Control,SC,DNA,ApoE Genotype,e4/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0

In [3]:
print("Original head:")
print(blood_data.head())
print("\nData types before conversion:")
print(blood_data.dtypes)
print(f"\nNumber of non-null values in RUNDATE before conversion: {blood_data['RUNDATE'].notna().sum()}")
print(f"Total rows: {len(blood_data)}")

Original head:
   PATNO     SEX   COHORT CLINICAL_EVENT TYPE       TESTNAME TESTVALUE UNITS  \
0   3400  Female       PD             SC  DNA  ApoE Genotype     e3/e3   NaN
1   3401  Female  Control             SC  DNA  ApoE Genotype     e3/e3   NaN
2   3402    Male    SWEDD             SC  DNA  ApoE Genotype     e3/e3   NaN
3   3403    Male       PD             SC  DNA  ApoE Genotype     e3/e2   NaN
4   3404  Female  Control             SC  DNA  ApoE Genotype     e4/e3   NaN

      RUNDATE  PROJECTID           PI_NAME                PI_INSTITUTION  \
0  2012-09-27        104  Andrew Singleton  National Institutes of Aging
1  2012-09-27        104  Andrew Singleton  National Institutes of Aging
2  2012-09-27        104  Andrew Singleton  National Institutes of Aging
3  2012-09-27        104  Andrew Singleton  National Institutes of Aging
4  2012-09-27        104  Andrew Singleton  National Institutes of Aging

            update_stamp
0  2014-11-03 11:58:57.0
1  2014-11-03 11:58:57.0
2  2014-11-03 11:58:57.0
3  2014-11-03 11:58:57.0
4  2014-11-03 11:58:57.0

Data types before conversion:
PATNO              int64
SEX               object
COHORT            object
CLINICAL_EVENT    object
TYPE              object
TESTNAME          object
TESTVALUE         object
UNITS             object
RUNDATE           object
PROJECTID          int64
PI_NAME           object
PI_INSTITUTION    object
update_stamp      object
dtype: object

Number of non-null values in RUNDATE before conversion: 955272
Total rows: 955272

In [4]:
blood_data['RUNDATE'] = pd.to_datetime(blood_data['RUNDATE'], errors='coerce')

blood_data = blood_data.sort_values(by='PATNO', ascending=True)

In [ ]:
# blood_data.to_csv('/Users/larsheijnen/Thesis/data/blood/BLOOD_DATE_FORMATTED.csv', index=False)

In [5]:
print(blood_data['TYPE'].unique())

['Plasma' 'DNA' 'Serum' 'Cerebrospinal Fluid' 'miRNA' 'Whole Blood'
 'Urine' 'Tissue - Not Specified' 'PBMC' 'RNA' 'Cell Line']

In [6]:
blood_filtered_data_types = blood_data[blood_data['TYPE'] == 'Cerebrospinal Fluid']
blood_filtered_data_types = blood_filtered_data_types[blood_filtered_data_types['TESTNAME'].str.contains('Alpha-synuclein|pTau|ABeta 1-42|NFL|MTDNA_DELETION|IL-6|sTREM2|YKL40|GFAP|S100', case=False, na=False)]
print(blood_filtered_data_types['TESTNAME'].unique())

['ABeta 1-42' 'MTDNA_DELETION' 'pTau' 'CSF Alpha-synuclein' 'sTREM2' 'NFL'
 'GFAP' 'YKL40' 'S100' 'IL-6']

In [7]:
blood_filtered_data_types = blood_filtered_data_types.sort_values(by='PATNO', ascending=True)
blood_filtered_data_types = blood_filtered_data_types[~blood_filtered_data_types['CLINICAL_EVENT'].isin(['ST', 'U01'])]
blood_filtered_data_types.to_csv('/Users/larsheijnen/Thesis/data/blood/BLOOD_DATE_FORMATTED_CSF_FILTERED.csv', index=False)

In [ ]:
# print(blood_filtered_data_types['TYPE'].unique())
blood_alpha_synuclein = blood_filtered_data_types[blood_filtered_data_types['TESTNAME'].str.contains('CSF Alpha-synuclein', case=False, na=False)]
blood_pTau = blood_filtered_data_types[blood_filtered_data_types['TESTNAME'].str.contains('pTau', case=False, na=False)]

display(blood_pTau.head())
display(blood_alpha_synuclein.head())


# blood_alpha_synuclein.to_csv('/Users/larsheijnen/Thesis/data/blood/BLOOD_DATE_FORMATTED_CSF_FILTERED_ALPHA.csv', index=False)
# blood_pTau.to_csv('/Users/larsheijnen/Thesis/data/blood/BLOOD_DATE_FORMATTED_CSF_FILTERED_PTAU.csv', index=False)

,PATNO,SEX,COHORT,CLINICAL_EVENT,TYPE,TESTNAME,TESTVALUE,UNITS,RUNDATE,PROJECTID,PI_NAME,PI_INSTITUTION,update_stamp
168908,3000,Female,Control,V08,Cerebrospinal Fluid,pTau,21.15,pg/mL,2017-06-27,125,Les Shaw,University of Pennsylvania,2017-10-20 09:04:05.0
171836,3000,Female,Control,V04,Cerebrospinal Fluid,pTau,17.3,pg/mL,2017-06-27,125,Les Shaw,University of Pennsylvania,2017-10-20 09:04:05.0
172910,3000,Female,Control,BL,Cerebrospinal Fluid,pTau,17.5,pg/mL,2017-06-27,125,Les Shaw,University of Pennsylvania,2017-10-20 09:04:05.0
319951,3000,Female,Control,V12,Cerebrospinal Fluid,pTau,20.08,pg/mL,2021-03-03,159,Les Shaw,University of Pennsylvania,2021-05-26 07:14:12.0
173723,3001,Male,PD,V06,Cerebrospinal Fluid,pTau,13.66,pg/mL,2017-06-29,125,Les Shaw,University of Pennsylvania,2017-10-20 09:04:05.0

,PATNO,SEX,COHORT,CLINICAL_EVENT,TYPE,TESTNAME,TESTVALUE,UNITS,RUNDATE,PROJECTID,PI_NAME,PI_INSTITUTION,update_stamp
166116,3000,Female,Control,BL,Cerebrospinal Fluid,CSF Alpha-synuclein,1798.9,pg/ml,2016-10-11,124,Peggy Taylor,Biolegend,2017-04-03 08:50:27.0
165760,3000,Female,Control,V04,Cerebrospinal Fluid,CSF Alpha-synuclein,1547.0,pg/ml,2016-10-11,124,Peggy Taylor,Biolegend,2017-04-03 08:50:27.0
164781,3000,Female,Control,V08,Cerebrospinal Fluid,CSF Alpha-synuclein,1840.4,pg/ml,2016-10-11,124,Peggy Taylor,Biolegend,2017-04-03 08:50:27.0
165813,3001,Male,PD,V04,Cerebrospinal Fluid,CSF Alpha-synuclein,1546.7,pg/ml,2017-02-01,124,Peggy Taylor,Biolegend,2017-04-03 08:50:27.0
166786,3001,Male,PD,V02,Cerebrospinal Fluid,CSF Alpha-synuclein,1713.8,pg/ml,2017-02-01,124,Peggy Taylor,Biolegend,2017-04-03 08:50:27.0