In [1]:
import pandas as pd

In [13]:
blood_data = pd.read_csv('/Users/larsheijnen/Thesis/data/blood/Current_Biospecimen_Analysis_Results_29Mar2025.csv',low_memory=False)
blood_data.head()

,PATNO,SEX,COHORT,CLINICAL_EVENT,TYPE,TESTNAME,TESTVALUE,UNITS,RUNDATE,PROJECTID,PI_NAME,PI_INSTITUTION,update_stamp
0,3400,Female,PD,SC,DNA,ApoE Genotype,e3/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
1,3401,Female,Control,SC,DNA,ApoE Genotype,e3/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
2,3402,Male,SWEDD,SC,DNA,ApoE Genotype,e3/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
3,3403,Male,PD,SC,DNA,ApoE Genotype,e3/e2,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0
4,3404,Female,Control,SC,DNA,ApoE Genotype,e4/e3,NaN,2012-09-27,104,Andrew Singleton,National Institutes of Aging,2014-11-03 11:58:57.0

In [16]:
print("Original head:")
print(blood_data.head())
print("\nData types before conversion:")
print(blood_data.dtypes)
print(f"\nNumber of non-null values in RUNDATE before conversion: {blood_data['RUNDATE'].notna().sum()}")
print(f"Total rows: {len(blood_data)}")

Original head:
   PATNO     SEX   COHORT CLINICAL_EVENT TYPE       TESTNAME TESTVALUE UNITS  \
0   3400  Female       PD             SC  DNA  ApoE Genotype     e3/e3   NaN
1   3401  Female  Control             SC  DNA  ApoE Genotype     e3/e3   NaN
2   3402    Male    SWEDD             SC  DNA  ApoE Genotype     e3/e3   NaN
3   3403    Male       PD             SC  DNA  ApoE Genotype     e3/e2   NaN
4   3404  Female  Control             SC  DNA  ApoE Genotype     e4/e3   NaN

      RUNDATE  PROJECTID           PI_NAME                PI_INSTITUTION  \
0  2012-09-27        104  Andrew Singleton  National Institutes of Aging
1  2012-09-27        104  Andrew Singleton  National Institutes of Aging
2  2012-09-27        104  Andrew Singleton  National Institutes of Aging
3  2012-09-27        104  Andrew Singleton  National Institutes of Aging
4  2012-09-27        104  Andrew Singleton  National Institutes of Aging

            update_stamp
0  2014-11-03 11:58:57.0
1  2014-11-03 11:58:57.0
2  2014-11-03 11:58:57.0
3  2014-11-03 11:58:57.0
4  2014-11-03 11:58:57.0

Data types before conversion:
PATNO              int64
SEX               object
COHORT            object
CLINICAL_EVENT    object
TYPE              object
TESTNAME          object
TESTVALUE         object
UNITS             object
RUNDATE           object
PROJECTID          int64
PI_NAME           object
PI_INSTITUTION    object
update_stamp      object
dtype: object

Number of non-null values in RUNDATE before conversion: 955272
Total rows: 955272

In [22]:
blood_data['RUNDATE'] = pd.to_datetime(blood_data['RUNDATE'], errors='coerce')

In [23]:
blood_data.to_csv('/Users/larsheijnen/Thesis/data/blood/BLOOD_DATE_FORMATTED.csv', index=False)

In [24]:
print(blood_data['TYPE'].unique())

['DNA' 'miRNA' 'Plasma' 'Serum' 'RNA' 'Cerebrospinal Fluid' 'Cell Line'
 'Whole Blood' 'Urine' 'Tissue - Not Specified' 'PBMC']

In [27]:
blood_filtered_data_types = blood_data[blood_data['TYPE'] == 'Cerebrospinal Fluid']
blood_filtered_data_types = blood_filtered_data_types[blood_filtered_data_types['TESTNAME'].str.contains('Alpha-synuclein|pTau|ABeta 1-42|NFL|MTDNA_DELETION|IL-6|sTREM2|YKL40|GFAP|S100', case=False, na=False)]
print(blood_filtered_data_types['TESTNAME'].unique())

['CSF Alpha-synuclein' 'ABeta 1-42' 'pTau' 'MTDNA_DELETION' 'GFAP' 'IL-6'
 'S100' 'NFL' 'sTREM2' 'YKL40']

In [28]:
blood_data.to_csv('/Users/larsheijnen/Thesis/data/blood/BLOOD_DATE_FORMATTED_CSF_FILTERED.csv', index=False)